<% include header %>

<div class="container form-div">
    <div class="row">
        <h1 style="text-align: center;"><i class="fa fa-user-plus"></i>Sign Up</h1>
        <div style="width: 80%; margin: 30px auto;">

            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="User22">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Example Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include footer %>